@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap');
/* 
Customer Sign In */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}


.logo {
	margin-bottom: 53px;
}

.logo img {
	width: 260px;
}

.signin {
	width: 500px;
	height: 440px;
	background-color: #F4F4F4;
	border-radius: 20px;
	padding: 40px;
}

.signin .headings {
	margin-bottom: 30px;
}

 .signin .headings h2 {
	font-size: 24px;
	font-weight: 800;
	font-style: normal;
}

.signin .headings {
	margin-bottom: 30px;
}

.signin .headings h2 {
	font-size: 24px;
	font-weight: 800;
	font-style: normal;
}

.signin .headings p {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #4E5B68;
	margin-bottom: 5px;
}

/* input fields */
.signin .input-box {
	position: relative;
	width: 100%;
}

.signin .input-box input {
	width: 420px;
	height: 70px;
	padding: 0px 15px;
	background: #FFFFFF;
	border: 1px solid #ECEEF0;
	outline: none;
	box-sizing: border-box;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
	border-radius: 5px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #111111;
}

.signin .input-box label {
	position: absolute;
	top: 10px;
	left: 15px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #7E8792;
}

.signin .button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E72E80;
	width: 420px;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
	outline: none;
	border: none;
}

.signin .button .button_icon {
	width: 20px;
	margin-right: 10px;
}

.signin .button .button_text {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	color: #FFFFFF;
}

.signin .endtext p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #4E5B68;
}

.rightimage {
	position: relative;
	width: 100%;
	height: 100vh;
}

.rightimage img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

